.first-section{
    width: 100%;
    height: 200vh;
    position: relative;
}
.first-bg{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
}
.bg-div{
    width: 50%;
    height: 100%;
}
.bg-img{
    width: 100%;
    height: 100%;
}

.first-section .first-top{
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;;
}
.top-four{
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 100px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.bg-black{
    background: black;
}
.top-img-div{
    width: 33.3%;
}
.top-img{
    width: 100%;
}

.tandt{
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.first-top-title {
    color: hotpink;
    font-size: 70px;
    font-weight: bold;
}
.first-top-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}