.first-section {
    width: 100%;
    height: 200vh;
    position: relative;
    text-align: center;
    display: flex;
}
.first-section .first-section-text {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.first-section .first-section-title {
    font-size: 70px;
    color: hotpink;
    font-weight: bold;  
}

.first-section .first-section-bg {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
}
.first-section .first-section-bg .bg-div{
    width: 50%;
    height: 100%;
    display: flex;
}
.first-section .first-section-bg .bg-div.bg-img {
    width: 100%;
    height: 100%;
}

/**/

.first-section .first-section-top {
    width: 100%;
    height: 200vh;
    position: absolute;
    top:0;
    display:flex;
    flex-wrap: wrap;
}
.first-section .first-section-top .top-div-four {
    width: 50%;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    
}
.first-section .first-section-top .top-div-four .title-and-text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-section .first-section-top .top-div-blackback {
    background: black;
}
.first-section .first-section-top .top-div-imagebox {
    width:33.33%;
    color: white;
}
.first-section .first-section-top .top-div-imagebox .top-div-img {
    width: 100%;
}

/* css 코드 정말 많이 깨끗해졌다... */